In [5]:
#This workbook loads the housing data as a csv file, creates a new csv file of the the data fields
#needed for this project, and cleans bad data in the new csv file.

In [6]:
%cd C:\Users\Ken\Documents\KenP\Applications-DataScience\SpringboardCourseWork\CapstoneProject1Repository\09 CapstoneProject1Data\ZillowData
import warnings
warnings.filterwarnings('ignore')

C:\Users\Ken\Documents\KenP\Applications-DataScience\SpringboardCourseWork\CapstoneProject1Repository\09 CapstoneProject1Data\ZillowData

In [7]:
#Imports
import pandas as pd

In [8]:
#Import the csv file

df = pd.read_csv('Zip_Code_Median_Sale_Prices_Seasonally_Adjusted.csv')
df.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08
0,84654.0,60657,Illinois,1,366800.0,380300.0,392100.0,394000.0,389300.0,380200.0,...,414800.0,411200.0,403000.0,407500.0,421700.0,367400.0,367000.0,364600.0,414100.0,413200.0
1,91982.0,77494,Texas,2,NaN,NaN,NaN,NaN,NaN,NaN,...,319900.0,317800.0,328400.0,333500.0,336500.0,332900.0,330100.0,336000.0,329700.0,NaN
2,93144.0,79936,Texas,3,NaN,NaN,NaN,NaN,NaN,NaN,...,132800.0,131300.0,128700.0,129400.0,130700.0,128300.0,129100.0,132900.0,134600.0,NaN
3,91940.0,77449,Texas,4,NaN,NaN,NaN,NaN,NaN,NaN,...,177500.0,174100.0,171200.0,177700.0,181000.0,183400.0,179400.0,180400.0,179300.0,178300.0
4,61630.0,10016,New York,5,NaN,NaN,NaN,NaN,NaN,NaN,...,784000.0,799100.0,803200.0,833800.0,872900.0,846000.0,883700.0,816900.0,835800.0,820800.0

In [9]:
#Create a new dataframe of the housing fields needed for this project. Since there are only two columns not needed
#(Region Id and Size), delete these columns
df2 = df.drop(['RegionID','SizeRank'],axis=1)
df2.head()

,RegionName,StateName,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,...,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08
0,60657,Illinois,366800.0,380300.0,392100.0,394000.0,389300.0,380200.0,366300.0,355900.0,...,414800.0,411200.0,403000.0,407500.0,421700.0,367400.0,367000.0,364600.0,414100.0,413200.0
1,77494,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,319900.0,317800.0,328400.0,333500.0,336500.0,332900.0,330100.0,336000.0,329700.0,NaN
2,79936,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,132800.0,131300.0,128700.0,129400.0,130700.0,128300.0,129100.0,132900.0,134600.0,NaN
3,77449,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,177500.0,174100.0,171200.0,177700.0,181000.0,183400.0,179400.0,180400.0,179300.0,178300.0
4,10016,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,784000.0,799100.0,803200.0,833800.0,872900.0,846000.0,883700.0,816900.0,835800.0,820800.0

In [10]:
#Rename the columns: only one column name (RegionName) needs to be renamed to "ZipCode".
df2.columns = ['ZipCode' if x=='RegionName' else x for x in df2.columns]

df2.head(2)

,ZipCode,StateName,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,...,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08
0,60657,Illinois,366800.0,380300.0,392100.0,394000.0,389300.0,380200.0,366300.0,355900.0,...,414800.0,411200.0,403000.0,407500.0,421700.0,367400.0,367000.0,364600.0,414100.0,413200.0
1,77494,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,319900.0,317800.0,328400.0,333500.0,336500.0,332900.0,330100.0,336000.0,329700.0,NaN

In [11]:
#Write the dataframe out to a csv file
out_csv = 'project1_housing_data.csv'

df2.to_csv(out_csv)

In [12]:
#Evaluate the data
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3796 entries, 0 to 3795
Columns: 128 entries, ZipCode to 2018-08
dtypes: float64(126), int64(1), object(1)
memory usage: 3.7+ MB

In [13]:
#Evaluate data for cleanliness (continued)

#Loop thru each column and count the number of Nan values
nullscount = df2.isna().sum()
nullscount = pd.DataFrame(nullscount)

print(nullscount.loc['ZipCode':'StateName'])
print(nullscount.loc['2008-03':'2008-12'])
print(nullscount.loc['2009-01':'2009-12'])
print(nullscount.loc['2010-01':'2010-12'])
print(nullscount.loc['2011-01':'2011-12'])
print(nullscount.loc['2012-01':'2012-12'])
print(nullscount.loc['2013-01':'2013-12'])
print(nullscount.loc['2014-01':'2014-12'])
print(nullscount.loc['2015-01':'2015-12'])
print(nullscount.loc['2016-01':'2016-12'])
print(nullscount.loc['2017-01':'2017-12'])
print(nullscount.loc['2018-01':'2018-12'])

           0
ZipCode    0
StateName  0
            0
2008-03  2578
2008-04  2578
2008-05  2578
2008-06  2578
2008-07  2572
2008-08  2567
2008-09  2563
2008-10  2562
2008-11  2560
2008-12  2559
            0
2009-01  2555
2009-02  2548
2009-03  2539
2009-04  2517
2009-05  2488
2009-06  2460
2009-07  2442
2009-08  2428
2009-09  2380
2009-10  2374
2009-11  2365
2009-12  2357
            0
2010-01  2352
2010-02  2349
2010-03  2345
2010-04  2326
2010-05  2303
2010-06  2287
2010-07  2275
2010-08  2266
2010-09  2254
2010-10  2248
2010-11  2237
2010-12  2223
            0
2011-01  2209
2011-02  2202
2011-03  2184
2011-04  2166
2011-05  2123
2011-06  2095
2011-07  2079
2011-08  2052
2011-09  2024
2011-10  1987
2011-11  1971
2011-12  1958
            0
2012-01  1942
2012-02  1924
2012-03  1899
2012-04  1864
2012-05  1809
2012-06  1774
2012-07  1732
2012-08  1701
2012-09  1663
2012-10  1630
2012-11  1595
2012-12  1546
            0
2013-01  1507
2013-02  1472
2013-03  1442
2013-04  1398
2013-05  1323
2013-06  1282
2013-07  1252
2013-08  1230
2013-09  1210
2013-10  1189
2013-11  1174
2013-12  1156
            0
2014-01  1142
2014-02  1123
2014-03  1095
2014-04  1063
2014-05  1005
2014-06   964
2014-07   938
2014-08   913
2014-09   889
2014-10   870
2014-11   850
2014-12   801
           0
2015-01  783
2015-02  759
2015-03  726
2015-04  670
2015-05  589
2015-06  529
2015-07  486
2015-08  456
2015-09  424
2015-10  404
2015-11  385
2015-12  369
           0
2016-01  345
2016-02  310
2016-03  208
2016-04  171
2016-05   93
2016-06   45
2016-07   10
2016-08    0
2016-09    0
2016-10    0
2016-11    0
2016-12    0
         0
2017-01  0
2017-02  0
2017-03  0
2017-04  0
2017-05  0
2017-06  0
2017-07  0
2017-08  0
2017-09  0
2017-10  1
2017-11  1
2017-12  1

KeyError: '2018-12'